{% extends "base.html" %}

{% block content %}
<div class="progress" style="height: 12px; background-color: #e9ecef; border-radius: 10px;">
    <div class="progress-bar progress-bar-striped" 
        role="progressbar"
        style="width: 75%; background-color: #3ecf8e; border-radius: 10px;"
        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
<div class="text-center mb-4">
    <label class="language-label">
        <strong>
    {% if session.language == 'Arabic' %}
        يرجى مشاركة معلومات الاتصال الخاصة بك لتسهيل التواصل فيما يتعلق بملاحظاتك وتلقي التحديثات حول العروض الخاصة والعروض الترويجية.
    {% else %}
        Kindly share your contact information to facilitate communication regarding your feedback and to receive updates on special offers and promotions.
    {% endif %}
    </strong>
</label>
</div>

<form method="POST" class="text-center">
    <div class="mb-3 text-start">
        <label for="name" class="form-label small">
            {% if session.language == 'Arabic' %}
                الاسم الكامل <span style="color: red;">*</span>
            {% else %}
                Full Name <span style="color: red;">*</span>
            {% endif %}
        </label>
        <input type="text" class="form-control" id="name" name="name" required
               placeholder="Enter your name"
               value="{{ session.form_data.get('name', '') }}">
    </div>


    
    <div class="mb-3 text-start">
        <label for="email" class="form-label small">
            {% if session.language == 'Arabic' %}
                عنوان البريد الإلكتروني  <span style="color: red;">*</span>
            {% else %}
                Email Address <span style="color: red;">*</span>
            {% endif %}
        </label>
        <input type="email" class="form-control" id="email" name="email" required
            placeholder="Enter your email "
            value="{{ session.form_data.get('email', '') }}">
    </div>
    

    <div class="row">
        {% if session.language == 'Arabic' %}
            <div class="col text-start">
                <button type="submit" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                    < التالي
                </button>
            </div>
            <div class="col text-end">
                <a href="{{ url_for('nps') }}" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                    السابق >
                </a>
            </div>
        {% else %}
            <div class="col text-start">
                <a href="{{ url_for('nps') }}" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                    < Previous
                </a>
            </div>
            <div class="col text-end">
                <button type="submit" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                    Next >
                </button>
            </div>
        {% endif %}
    </div>
    </form>
    
        
    {% endblock %}
    