{% extends "base.html" %}

{% block content %}
<form method="POST">
<div class="progress" style="height: 12px; background-color: #f0f1f5; border-radius: 10px;">
    <div class="progress-bar progress-bar-striped" role="progressbar"
        style="width: 40%; background-color: #3ecf8e; border-radius: 10px;
                background-image: repeating-linear-gradient(
                    45deg,
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.2) 10px,
                    transparent 10px,
                    transparent 20px
                );"
        aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100">
    </div>
</div>

<div class="text-center mb-4">
    <label class="language-label">
        <strong>
    {% if session.language == 'Arabic' %}
        .يرجى اختيار أحد الأسباب المذكورة أدناه
    {% else %}
        Please select one of the reasons listed below.
    {% endif %}
</strong>
</label>
</div>


<div class="mb-3 d-flex justify-content-center">
    <div class="p-3 d-flex align-items-center {% if session.language == 'Arabic' %}justify-content-end{% else %}justify-content-start{% endif %}"
        style="border: none; background-color: #d6d6d6; width: 100%; max-width: 600px; height: 40px; border-radius: 0px;">
        {% if session.language == 'Arabic' %}
        <label class="form-check-label mb-0 me-2" for="s1" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            لم يكن الموظفون متاحين للمساعدة
        </label>
        <input class="form-check-input" type="radio" name="dissatisfaction_feedback_reason" value="Staff was not available to assist" id="s1"
        {% if "Staff was not available to assist" in dissatisfaction_feedback_reason %}checked{% endif %}>
        {% else %}
        <input class="form-check-input me-2" type="radio" name="dissatisfaction_feedback_reason" value="Staff was not available to assist" id="s1"
        {% if "Staff was not available to assist" in dissatisfaction_feedback_reason %}checked{% endif %}>
        <label class="form-check-label mb-0" for="s1" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            Staff was not available to assist
        </label>
        {% endif %}
    </div>
</div>
<div class="mb-3 d-flex justify-content-center">
    <div class="p-3 d-flex align-items-center {% if session.language == 'Arabic' %}justify-content-end{% else %}justify-content-start{% endif %}"
        style="border: none; background-color: #d6d6d6; width: 100%; max-width: 600px; height: 40px; border-radius: 0px;">
        {% if session.language == 'Arabic' %}
        <label class="form-check-label mb-0 me-2" for="s2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            لم يكن الموظفون على استعداد للمساعدة
        </label>
        <input class="form-check-input" type="radio" name="dissatisfaction_feedback_reason" value="Staff was not willing to help" id="s2"
        {% if "Staff was not willing to help" in dissatisfaction_feedback_reason %}checked{% endif %}>
        {% else %}
        <input class="form-check-input me-2" type="radio" name="dissatisfaction_feedback_reason" value="Staff was not willing to help" id="s2"
        {% if "Staff was not willing to help" in dissatisfaction_feedback_reason %}checked{% endif %}>
        <label class="form-check-label mb-0" for="s2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            Staff was not willing to help
        </label>
        {% endif %}
    </div>
</div>
<div class="mb-3 d-flex justify-content-center">
    <div class="p-3 d-flex align-items-center {% if session.language == 'Arabic' %}justify-content-end{% else %}justify-content-start{% endif %}"
        style="border: none; background-color: #d6d6d6; width: 100%; max-width: 600px; height: 40px; border-radius: 0px;">
        {% if session.language == 'Arabic' %}
        <label class="form-check-label mb-0 me-2" for="s3" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            لم يفهم الموظفون متطلباتي
        </label>
        <input class="form-check-input" type="radio" name="dissatisfaction_feedback_reason" value="Staff did not understand my requirements" id="s3"
        {% if "Staff did not understand my requirements" in dissatisfaction_feedback_reason %}checked{% endif %}>
        {% else %}
        <input class="form-check-input me-2" type="radio" name="dissatisfaction_feedback_reason" value="Staff did not understand my requirements" id="s3"
        {% if "Staff did not understand my requirements" in dissatisfaction_feedback_reason %}checked{% endif %}>
        <label class="form-check-label mb-0" for="s3" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            Staff did not understand my requirements
        </label>
        {% endif %}
    </div>
</div>
<div class="mb-3 d-flex justify-content-center">
    <div class="p-3 d-flex align-items-center {% if session.language == 'Arabic' %}justify-content-end{% else %}justify-content-start{% endif %}"
        style="border: none; background-color: #d6d6d6; width: 100%; max-width: 600px; height: 40px; border-radius: 0px;">
        {% if session.language == 'Arabic' %}
        <label class="form-check-label mb-0 me-2" for="s4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            لم يكن الموظفون مرحبين و ودودين
        </label>
        <input class="form-check-input" type="radio" name="dissatisfaction_feedback_reason" value="Staff was not welcoming and approachable" id="s4"
        {% if "Staff was not welcoming and approachable" in dissatisfaction_feedback_reason %}checked{% endif %}>
        {% else %}
        <input class="form-check-input me-2" type="radio" name="dissatisfaction_feedback_reason" value="Staff was not welcoming and approachable" id="s4"
        {% if "Staff was not welcoming and approachable" in dissatisfaction_feedback_reason %}checked{% endif %}>
        <label class="form-check-label mb-0" for="s4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 14px;">
            Staff was not welcoming and approachable
        </label>
        {% endif %}
    </div>
</div>

<div class="row">
    {% if session.language == 'Arabic' %}
        <div class="col text-start">
            <button type="submit" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                < التالي
            </button>
        </div>
        <div class="col text-end">
            <a href="{{ url_for('satisfaction_reason') }}" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                السابق >
            </a>
        </div>
    {% else %}
        <div class="col text-start">
            <a href="{{ url_for('satisfaction_reason') }}" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                < Previous
            </a>
        </div>
        <div class="col text-end">
            <button type="submit" class="btn btn-primary" style="border-radius: 4px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); padding: 8px 12px; font-size: 14px;">
                Next >
            </button>
        </div>
    {% endif %}
</div>
</form>

    
{% endblock %}
